@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer utilities {
  .sub-button{
    @apply hover:text-gray-400 md:mr-6 duration-300
  }
  
  .signup-button{
    @apply px-6 py-2 bg-white hover:bg-yellow-200 border-2 border-yellow-300 rounded-full duration-200 mr-0 hover:text-black
  }
}